[submodule "benchmark/gbenchmark"]
	path = benchmark/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/glbinding"]
	path = external/glbinding
	url = https://github.com/cginternals/glbinding.git
