[submodule "benchmark/gbenchmark"]
	path = benchmark/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/glbinding"]
	path = external/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML.git
[submodule "external/docopt.cpp"]
	path = external/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
